Python/txt/plist
Python/txt/plist.txt
Python/txt/filekey.key
Python/__pycache__/decrypt.cpython-311.pyc
Python/__pycache__/encrypt.cpython-311.pyc
password manager/__pycache__/decrypt.cpython-311.pyc
password manager/__pycache__/encrypt.cpython-311.pyc
password manager/__pycache__/pswdgen.cpython-311.pyc
password manager/__pycache__/urlmail.cpython-311.pyc
password manager/txt/filekey.key
password manager/txt/plist.txt
password manager/plist.txt
.vscode/extensions.json
.vscode
password manager/file.txt
.vscode/extensions.json
password manager/key.key
.gitignore
addresses/AddList.csv
To-do list/todo.csv